@using WitcherProject.BL.Services.Interfaces
@using WitcherProject.BL.DTOs.ContractRequest
@using WitcherProject.Shared
@using Mapster
@using WitcherProject.BL.DTOs.Contract
@using WitcherProject.BL.DTOs.Person
@using WitcherProject.Shared.Enums

@inject IContractRequestService ContractRequestService
@inject IContractFacade ContractFacade
@inject IContractService ContractService
@inject IPersonService PersonService
@inject NavigationManager NavigationManager


@if (stateOptions == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @if (!string.IsNullOrEmpty(showSuccess))
    {
        <div class="alert alert-success mt-4 mb-4" role="alert">
            <p>Contract request @showSuccess.</p>
        </div>
    }
    @* based on https://stackoverflow.com/a/58256978 *@
    <EditForm Model="@contractRequest" Context="formContext">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        @if (_scenario == Scenario.ExistingContractRequest)
        {
            <AuthorizeView Roles="@RoleNames.GetRoles(new[] { RoleNames.Admin, RoleNames.ContractManager })">
                <div>
                    <label class="form-label col-sm-10 col-md-4 pb-2">
                        Request ID:
                        <InputNumber class="form-control" @bind-Value="@contractRequest.Id" DisplayName="request id"
                                     disabled="true">
                        </InputNumber>
                    </label>
                </div>
            </AuthorizeView>
        }
        <div>
            <label class="form-label col-sm-10 col-md-4 pb-2">
                Contract:
                <InputText class="form-control" @bind-Value="@contractRequest.Contract.Name" DisplayName="contract"
                           disabled="true">
                </InputText>
            </label>
        </div>
        <div>
            <label class="form-label col-sm-10 col-md-4 pb-2">
                Requesting person:
                <InputText class="form-control" @bind-Value="@contractRequest.Person.Name" DisplayName="person"
                           disabled="true">
                </InputText>
            </label>
        </div>
        <div>
            <label class="form-label col-sm-10 col-md-4 pb-2">
                State:
                <InputSelect class="form-control" @bind-Value="contractRequest.State" DisplayName="state"
                             disabled="true">
                    @foreach (var state in stateOptions)
                    {
                        <option value=@state>@state</option>
                    }
                </InputSelect>
            </label>
        </div>
        <div>
            <label class="form-label col-sm-10 col-md-4 pb-2">
                Requested on:
                <InputDate class="form-control" @bind-Value=@contractRequest.CreatedOn DisplayName="created on"
                           disabled="true">
                </InputDate>
            </label>
        </div>
        <div>
            <label class="form-label col-sm-10 col-md-4 pb-2">
                Description:
                <InputText class="form-control" @bind-Value="@contractRequest.Text" DisplayName="description"
                           disabled="@disableEdit">
                </InputText>
            </label>
        </div>
        @if (_scenario == Scenario.NewContractRequest)
        {
            <button class="btn btn-primary" type="submit" @onclick="@(() => CreateContractRequest(formContext))">Send request</button>
        }
        <AuthorizeView Roles="@RoleNames.GetRoles(new[] { RoleNames.Admin, RoleNames.ContractManager })">
            @if (_scenario == Scenario.ExistingContractRequest && contractRequest.State == ContractRequestState.Requested)
            {
                <div class="d-flex col-sm-10 col-md-4 justify-content-start">
                    <button class="btn btn-primary me-2" type="submit" @onclick="@ApproveContractRequest">
                        Approve request
                        <i class="bi bi-check"></i>
                    </button>
                    <button class="btn btn-primary" type="submit" @onclick="@DeclineContractRequest">
                        Decline request
                        <i class="bi bi-x"></i>
                    </button>
                </div>
            }
        </AuthorizeView>
    </EditForm>
}

@code {

    // possibly transfer to DAL or SHARED as a proper enum
    private enum Scenario
    {
        NewContractRequest,
        ExistingContractRequest
    }

    private Scenario _scenario;

    [Parameter]
    public int? RequestId { get; set; }

    [Parameter]
    public int? ContractId { get; set; }

    [Parameter]
    public int? PersonId { get; set; }

    private ContractRequestDetailedDto contractRequest;
    private IEnumerable<ContractRequestState> stateOptions;

    private bool disableEdit = true;
    private string? showSuccess;


    protected override async Task OnInitializedAsync()
    {
        if (RequestId == null) // Adding new CR
        {
            contractRequest = new ContractRequestDetailedDto();
            var requestedContract = await ContractService.GetContractById((int)ContractId);
            var requestedPerson = await PersonService.GetPersonById((int)PersonId);
            contractRequest.Contract = requestedContract.Adapt<ContractSimpleDto>();
            contractRequest.Person = requestedPerson.Adapt<PersonSimpleDto>();

            disableEdit = false;
            _scenario = Scenario.NewContractRequest;
        }
        else // Working with existing CR
        {
            contractRequest = await ContractRequestService.GetContractRequestById(RequestId ?? -1);
            _scenario = Scenario.ExistingContractRequest;
        }
        stateOptions = ContractRequestStateUtil.GetAllStates();
    }


    [Authorize(Roles = RoleNames.Admin + "," + RoleNames.Witcher)]
    private async Task CreateContractRequest(EditContext formContext)
    {
        if (!formContext.Validate())
        {
            return;
        }

        var adapted = contractRequest.Adapt<ContractRequestAddDto>();
        adapted.PersonId = (int)PersonId; // cast is ok because in create the personId is always provided
        adapted.ContractId = (int)ContractId;
        adapted.State = ContractRequestState.Requested;
        await ContractRequestService.CreateContractRequest(adapted);
        showSuccess = "created";
    }

    [Authorize(Roles = RoleNames.Admin + "," + RoleNames.ContractManager)]
    private async Task ApproveContractRequest()
    {
        var adapted = contractRequest.Adapt<ContractRequestUpdateDto>();
        adapted.State = ContractRequestState.Approved;

        await ContractFacade.ApproveContractRequest(adapted, adapted.ContractId, adapted.PersonId);
        showSuccess = "approved";
    }

    [Authorize(Roles = RoleNames.Admin + "," + RoleNames.ContractManager)]
    private async Task DeclineContractRequest()
    {
        var adapted = contractRequest.Adapt<ContractRequestUpdateDto>();
        adapted.State = ContractRequestState.Declined;
        await ContractRequestService.UpdateContractRequest(adapted);
        showSuccess = "declined";
    }

}